* {
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  background-color: #f2d2cf;
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: #ea4335;
  font-weight: bold;
}

/* .menu {
  overflow: hidden;
} */

.menu > li {
  list-style: none;
  width: 230px;
  float: left;
  text-align: center;
  line-height: 50px;
  background-color: #f2d2cf;
  position: relative; /* 부모 요소 relative */
}

.menu > a {
  text-decoration: none;
  font-size: 14px;
}

.sub-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
}

.sub-menu > li {
  line-height: 50px;
  background-color: #f2d2cf;
  text-align: center;
}

/* 메뉴바 hover 했을 때 */
.menu > li:hover > a {
  text-decoration: underline 3px solid #ea4335; /* 링크에만 적용 */
  transition-duration: 0.5s;
  cursor: pointer;
}

.sub-menu li:hover {
  transition-duration: 0.5s;
  background-color: #ea4335;
  cursor: pointer;
}

.sub-menu > li:hover > a {
  color: white;
}

.menu > li:hover .sub-menu {
  height: 150px;
  transition-duration: 1s;
  display: block; /* hover 시에 보이도록 */
  list-style: none;
}
